/*html{*/
/*    box-sizing:border-box;*/
/*}*/

/**, *:before, *:after{*/
/*    box-sizing:inherit;*/
/*}*/
body{
    background-color:gray;
}

header{
    font-weight:bold;
    font-family:Lucida;
    height:100px;
    width:auto;
    background-color:black;
    color:white;
}
.logo{
    float:left;
    height:100%;
    width:125px;
    font-size:55px;
    background-color:red;
    line-height:1.5;
}
.links{
    text-align:center;
    float:left;
    height:100%;
    width:450px;
    
}

.main_nav > li{
    margin-top:5%;
    line-height:1.5;
    padding:0;
    height:100%;
    margin-left:30px;
    float:left;
    list-style-type:none;
    position:relative;
}

.main_nav a, .sub_nav a{
    text-decoration:none;
    color:white;
}

.sub_nav{
    display:none;
    position:absolute;
    background-color:black;
    margin:0;
    padding:20px 0;
    width:150%;
    overflow:hidden;
}
.hasSubNav:hover .sub_nav{
    display:block;
}
.sub_nav li{
    float:left;
    display:block;
    margin-top:10px;
    line-height:1.5;
    clear:left;
    padding:5px 10px;
}

.search_bar{
    float:left;
    
    margin-top:35px;
    height:25%;
    width:250px;
    background-color:white;
}
.search_bar img{
    float:right;
    height:100%;
    padding-left:5px;
    background-color:red;
}

.right_head{
    /*border:1px dashed white;*/
    height:100%;
    width:300px;
    /*padding-top:10px;*/
    margin-right:25px;
    float:right;
}
.right_head ul{
    margin:20px auto;
}
.right_head li{
    float:right;
    list-style-type:none;
}

.right_head ul li img{
    position:relative;
    margin-top:5px;
}
